.flexslider .slides img.desktop {
    display: block;
}

.flexslider .slides img.mobile {
    display: none;
}

@keyframes stickySlideDown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#header-page {
    .sticky {
        position: relative;
        z-index: 2;
        padding: 0 64px;
        &.fixed {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            z-index: 999;
            -webkit-animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
            -moz-animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
            animation: stickySlideDown 0.65s cubic-bezier(0.23, 1, 0.32, 1) both;
            background: rgba(239, 67, 35, 0.8);
            margin-top: 0;
            padding: 0px 64px 10px;
        }
        .wrap-menu {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            .menu-logo {
                width: 25%;
            }
            .menu-main {
                width: 50%;
                .navbar-sticky {
                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        li {
                            a {
                                font-size: 24px;
                                font-family: "Ek Mukta Regular";
                                color: #ffffff;
                                line-height: 1.2;
                                text-align: center;
                                text-decoration: none;
                                cursor: pointer;
                                &:hover {
                                    color: #ef4523;
                                }
                            }
                        }
                    }
                }
            }
            .menu-phone {
                width: 25%;
                text-align: right;
                a {
                    font-size: 23px;
                    font-family: "Ek Mukta Light";
                    color: #ffffff;
                    line-height: 1.2;
                    text-decoration: none;
                }
            }
            .navbar-button {
                display: none;
            }
        }
    }
    .banner-slide {
        position: relative;
        margin-top: -123px;
        z-index: 1;
    }
}